.git
.idea
.vscode
doc
node_modules
public/build
public/hot
storage/logs
storage/pail
storage/framework/cache
storage/framework/sessions
storage/framework/views
vendor
.env
.env.backup
.env.production
*.log
*.tar
dist